/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Những class dùng chung */
.text-white{
    color: #fff !important;
}
.clear{
    clear: both;
}

/* tạo cái cột dùng chung cho(About, Tour, Contact) */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

/* Ta sẽ tạo ra clear: both; giả, giúp code ngắn gọn hơn
giúp ta ko cần phải code bên html 
nguyên cái thẻ <div class="clear"></div> */
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* do ta position slider nên slider nó nổi lên còn 
    header nó chìm xuống, giờ ta muốn header nổi lên lại
    ta dùng z-index: 1; */
    z-index: 1;
}

#nav{
    /* này do thằng nav nó chiếm hết thanh header nên do đo ta 
    không float right thanh tìm kiếm lên trên đươc */
    display: inline-block;
}

#nav, .subnav{
    /* ẩn đi dấu chấm của ul li */
    list-style: none;
}

#nav > li{
    /* cho hiện lên thành một hàng
    (kế thừa chiều dọc chiều ngang lun) */
   display: inline-block;   
}

#nav li{
   position: relative;
    
}

#nav > li > a{
    /* biến chữ thường thành chữ in hoa */
    text-transform: uppercase;
}

#nav li a{
    color: #fff;
    /* tắt gạch chân */
    text-decoration: none;
    /* line là đường, height là chiều cao. 
    Làm cho cho button bằng với header 
    giúp chỉnh độ cao của một dòng  */
    line-height: 46px;
    padding: 0 24px;
    /* kế thừa chiều ngang thôi */
    display: block;
}

#nav li:hover .subnav{
    /* khi hover vào thằng More nó sẽ hiện lên */
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav .subnav{
    /* display là thuộc tính hiển thị, none ẩn đi */
    display: none;
    position: absolute;
    /* để mà css mấy thằng khác ko bị lệch thằng more đi
    thì ta nên mặc định css top với left */
    top: 100%;
    left: 0;
    background-color: #fff;
    /* bóng đỗ */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    min-width: 160px;
}

/* do nó trùng css nên ta tạo thành 1 code thôi
cách nhau dấu phẩy là oke
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
} */

#header .search-btn{
    float: right;
    padding: 0 21px;
    /* di chuột vào hiển thị hình ngón tay */
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}

#slider{
    /* để cho 2 dong chữ nổi lên trên hình ảnh ă */
    position: relative;
    margin-top: 46px;
    /* để cho hình ảnh không bị bể */
    padding-top: 50%;
    /* hiển thị hình ảnh */
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content{
    /* để cho 2 dong chữ nổi lên trên hình ảnh ă */
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* căn giữa item dùng width: 100%;
    text-align: center; */
    width: 100%;
    text-align: center;

}

#slider .text-heading{
    /* tăng giảm độ dày của chữ */
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{

}

/* About */
#content .content-section{
    width: 800px;
    /* padding trên dưới = 64px trái phải = 0 */
    padding: 64px 0;
    /* căn giữa nó dùng margin-left: auto; margin-right: auto; */
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    /* làm cho chữ mỏng đi không in đậm nửa */
    font-weight: 500;
    /* chỉnh khoảng cách từng chữ của The Band spacing là khoảng cách, letter là từng chữ(khoảng cách từng chữ) 
    Lệnh làm cho chữ cách xa nhau */
    letter-spacing: 4px;
}

#content .section-sub-heading{
    /* khoảng cách */
    margin-top: 25px;
    font-size: 15px;
    /* giúp chữ in nghiêng */
    font-style: italic;
    /* Làm cho chữ nó mờ đi giá trị từ 0 đến 1 */
    opacity: 0.6;
}

#content .about-text{
    /* khoảng cách */
    margin-top: 25px;
    font-size: 15px;
    /* Giúp căn đều 2 bên đoạn văn */
    text-align: justify;
    /* giúp chỉnh độ cao của một dòng
    chữ tiếng anh là 1.4, tiếng việt là 1.6 */
    line-height: 1.4    ;
}

#content .section-heading,
#content .section-sub-heading{
    /* Căn giữa 2 dòng chữ The Band và We love music */
    text-align: center;
}

#content .member-list{
    /* khoảng cách khung to */
    margin-top: 48px;
    /* Có 2 cách khắc chế mỗi khi ta dùng float.
    Cách 1: overflow: hidden; Dùng để ôm hết các thằng con của nó, 
    Cách 2: html: <div class="clear"></div>, 
            css: .clear{
                        clear: both;
                    } .*/
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    /*  cắt góc hình ảnh cho tròn hơn */
    border-radius: 4px;
    
}



/* Tour section */
#content .tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    /* khi html ul,li sẽ hiện dấu chấm nên none */
    list-style: none;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    /* Dấu gạch ở dưới chân rất dài */
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    /* tạo hình tròn */
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    /* Nó bị lệch phía dưới 
    do ta padding mà ko dùng height
    để dùng margin-top âm thì phải có float */
    margin-top: -3px;
    margin-right: 16px;
}

/* content tour place */
.places-list{
    margin-top: 32px;
    /* giúp căn lên hình ảnh bằng với tickets trên */
    margin-bottom: 48px;
}

.place-img{
    /* giúp ảnh đúng với kích cỡ vì to quá */
    width: 100%;
    /* Giúp kết nối khung place-body lại với hình ảnh */
    display: block;
}

.place-img:hover{
    /* giúp ảnh tối đi xíu */
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    /* chữ tiếng anh 1.4 tiếng việt 1.6 */
    line-height: 1.4;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    /* để nó nổi lên mà ko đè lên */
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

/* css buy tickets */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    /* giúp thằng con(modal-container) nằm giữa thằng modal  */
    display: none;
    /* giúp nằm giữa chiều cao */
    align-items: center;
    /* giúp nằm giữa chiều ngang */
    justify-content: center;
}

.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    /* Giúp khi thu nhỏ thì cái khung cũng thu nhỏ theo
    css này giúp ta tạo ra một khoảng cách */
    max-width: calc(100% - 32px);
    /* js buy tickets */
    animation: modalFadeIN ease 0.5s;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover{
    color: #000;
    background-color: #ccc;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    /* 3 dòng css dưới dùng căn giữa */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    /* hiển thị khối đẩy mấy kia xuống */
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    /* này nó giúp khung mờ đi */
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover{
    /* tạo cảm giác đã click vào */
    opacity: 0.8;
}

.modal-footer{
    padding: 16px;
    /* khi dùng cho nguyên thẻ thì float
    khi dùng chữ thì dùng text-align */
    text-align: right;
}

.modal-footer a{
    color: #009688;
}

/* css js buy tickets */
@keyframes modalFadeIN {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CONTACT */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

/* css nâng cao, mục đích css vào (ti-) */
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: 12px 14px;
    float: right;
    cursor: pointer;
}
.contact-form .form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
    border: none;
}

#footer{}

